@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #222;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    overflow-x: hidden;
}


/* components */

/* button */
.x-button-button{
    font-size: 1rem;
    background: none;
    cursor: pointer;
    border: .1rem solid #222 ; 
    border-radius: .25rem;
    display: inline-block;
    padding: 0 .25rem;
}

/* breadcrumbs */
.x-breadcrumbs-ul{
    display:flex;
    list-style: none;
    padding: 1rem;
}
.x-breadcrumbs-a{
    font-size: 1.2rem;
    text-decoration: none;
}
.x-breadcrumbs-arrow{
    font-size: 1.2rem;
}

/* card */
.x-card{
    padding: 1rem;
    background-color: #f8f8ff;
    margin: 0 1rem;
    border-radius: .25rem;
    border: .1rem solid #d4d4d4;
}


/* job card */
.x-job-card-job-top{
    display: flex;
}
.x-job-card-job-top h2{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.x-job-card-job-top div{
    font-size: 1rem;
    margin-left: auto;
    color: #444;
}

.x-job-card-job-bottom{
    display: flex;
}
.x-job-card-job-bottom-left{
    display: flex;
    margin-right: 1rem;
}
.x-job-card-job-bottom-left div{
    font-size: 1rem;
    margin-right: .5rem;
}
.x-job-card-job-bottom-right{
    margin-left: auto;
}
.x-job-experience,
.x-job-category{
    text-decoration: none;
    padding: 0 .25rem;
}

/* tag */
.x-tag{
    border: .1rem solid #222;
    border-radius: .25rem;
    display: inline-block;
}

/* label */
.x-label{
    font-size: 1rem;
}

/* link button */
.x-link-button{
    border: .1rem solid #222;
    border-radius: .25rem;
    display: inline-block;
}
.x-link-button-a{
    text-decoration: none; 
    padding: 0 .25rem;
}


/* radio group */
.x-radio-group{
    text-align: left;
}
.x-radio-group-label{
    display: block;
}
.x-radio-group-error{
    color: red;
}

/* text input */

.x-text-input{
    font-size: 1rem;
    padding: .5rem;
    background-color: #f8f8ff ;
    border: .1rem solid #d4d4d4;
    border-radius: .25rem;
    width: 100%;
}
.x-text-input-error{
    color: red;
}


/* layout */

body{
    background-color: #c9d5f7;
    text-align: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: #dee6fa;
}

.container nav.navbar{
    padding: 1rem 1rem 0;
}
.container nav.navbar ul.home-list{
    list-style: none;
    display: flex;
}
.container nav.navbar ul.home-list li.home-list-item{
    margin-right: 1rem;
}
.container nav.navbar ul.home-list li.home-list-item a.home-button{
    color: #000; 
    text-decoration: none;
    font-size: 1.2rem;
}
.container nav.navbar ul.home-list li.user-name-item{
    margin-left: auto;
}
.container nav.navbar ul.home-list li.user-name-item a.user-name-button{
    color: #000; 
    text-decoration: none;
    font-size: 1.2rem;
}
.container nav.navbar ul.actions-list{
    list-style: none ; 
    display:flex; 
}

.container nav.navbar ul.actions-list li.left-items{
    margin-right: 1rem;
}
.container nav.navbar ul.actions-list li.right-items{
    margin-left: auto;
}

.container nav.navbar ul.actions-list li a{
    color: #000; 
    text-decoration: none;
    font-size: 1.2rem;
}
.container nav.navbar ul.actions-list li form button{
    color: #000; 
    font-size: 1.2rem;
    background: none;
    cursor: pointer;
}


/* alert */

.container div.green-alert-container{
    background-color: #6cc173;
    text-align: left;
    padding: .5rem 1rem;
}
.container div.green-alert-container p.green-alert-title,
.container div.red-alert-container p.red-alert-title{
    color: #fff;
}
.container div.green-alert-container p.green-alert-message,
.container div.red-alert-container p.red-alert-message{
    color: #fff;
}
.container div.red-alert-container{
    background-color: #ff392e; 
    text-align: left;
    padding: .5rem 1rem;
}


/* job_offers.index */

.filter-form-card{
    margin-bottom: 1rem;
}

form.filter-form{
    text-align: left;
}

form.filter-form .filter-top{
    display: flex;
    gap: .5rem;
}
form.filter-form .filter-top .filter-top-search,
form.filter-form .filter-top .filter-top-salary{
    flex: 50%;
}
form.filter-form .filter-top .filter-top-salary .salary-filter{
    display: flex;
    gap: .5rem;
}
form.filter-form .filter-top .filter-top-salary .salary-filter .min-salary,
form.filter-form .filter-top .filter-top-salary .salary-filter .max-salary{
    flex: 50%;
}
form.filter-form .filter-bottom{
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}
form.filter-form .filter-bottom .filter-bottom-experience,
form.filter-form .filter-bottom .filter-bottom-category{
    flex: 50%;
}
form.filter-form .filter-button{
    width: 100%; 
    font-size: 1rem;
    padding: .25rem;
    margin-top: 1rem;
}
form.filter-form .filter-button:hover{
    background-color: #e0e0ee;
}

.home-job-offer{
    margin-bottom: 1rem;
    text-align: left;
}
.job-offer-show{
    margin-top: 1rem;
}
.job-offer-show:hover{
    background-color: #e0e0ee;
    cursor: pointer;
}


/* job_offers.show */

.job-offer-details{
    text-align: left;
    margin-bottom: 1rem;
}

.apply-button{
    margin-top: 1rem;
}
.apply-button:hover{
    background-color: #e0e0ee;
}

.more-jobs{
    margin-bottom: 1rem;
}
.more-jobs h2{
    margin-bottom: 1rem;
}
.other-job-offer{
    margin-bottom: 1rem;
    text-align: left;
}

.other-job-offer-top{
    display: flex;
}
.other-job-offer-top .job-title{
    margin-right: 1rem;
}
.other-job-offer-top .job-created{
    margin-left: auto;
}

.other-job-offer-bottom{
    color: #444;
}

/* my_job_application.create */

.job-application{
    margin-bottom: 1rem;
    text-align: left;
}

.application-container .application-top{
    display: flex;
}
.application-container .application-top .application-top-applicants{
    flex: 50%;
    text-align: left;
}
.application-container .application-top .application-top-salaries{
    flex: 50%;
    text-align: right;
}
.cancel-application-button{
    margin-top: .5rem;
}
.cancel-application-button:hover{
    background-color: #e0e0ee;
}


/* job_application.create */



